.CssAbout {
    margin-top: 20px;
    margin-bottom: 20px;
    background-attachment: fixed;
}

.DivAbout {
    background: #35353b;
}

.divInformation {
    background:gray;
    border-radius: 15px;
}

h4 {
    
    margin-left: 20px;
    margin-bottom: 20px;
}