.all{
  background-color: #353531;
}
.BGColorAccordion{
  margin: 0;
  padding: 0;
}
.TextHeader{
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-size: 40px;
}
  .card{
    background-color: #353531;
    color: #ffffff;
  }
  .card:hover{
    background-color: #a5dd3f;
    color: #353531;
  }
  .card-header{
    text-align: center;
    padding: 25px;
    display: block;
  }
  div.content {
    background-color: #ffffff;
  }