.all{
  background-color: #353531;
}
.sidebar{
  margin: 0;
  padding: 0;
}
.filterText{
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
#cardID{
  background-color: #353531;
  color: #ffffff;
}
#cardID :hover{
  background-color: #a5dd3f;
  color: #353531;
}
#CH_ID {
  text-align: center;
    display: block;
    padding: 25px;
    text-decoration: none;
}
#CB_ID{
  background-color: #a5dd3f;
  color: #353531;
}
  div.content {
    background-color: #ffffff;
  }