.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    
}
.cardTour{
    border-radius: 20px;
}
.cardTour:hover .imagen {
    filter: saturate(280%);
}
.cardTour {overflow:hidden;}
.imagen {height: 250px;}

